.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 L 0,150 C 123.60765550239233,176.9665071770335 247.21531100478467,203.93301435406698 329,188 C 410.78468899521533,172.06698564593302 450.7464114832537,113.23444976076556 535,103 C 619.2535885167463,92.76555023923444 747.7990430622009,131.1291866028708 865,129 C 982.2009569377991,126.8708133971292 1088.0574162679427,84.24880382775119 1182,81 C 1275.9425837320573,77.75119617224881 1357.9712918660287,113.8755980861244 1440,150 L 1440,600 L 0,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 L 0,150 C 128.0191387559809,169.70334928229664 256.0382775119618,189.4066985645933 341,176 C 425.9617224880382,162.5933014354067 467.86602870813385,116.07655502392345 539,120 C 610.1339712918661,123.92344497607655 710.4976076555024,178.2870813397129 833,176 C 955.5023923444976,173.7129186602871 1100.1435406698565,114.77511961722489 1205,101 C 1309.8564593301435,87.22488038277511 1374.9282296650717,118.61244019138755 1440,150 L 1440,600 L 0,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 L 0,150 C 83.56937799043064,156.94736842105263 167.13875598086128,163.89473684210526 262,146 C 356.8612440191387,128.10526315789474 463.0143540669857,85.36842105263159 566,88 C 668.9856459330143,90.63157894736841 768.8038277511961,138.63157894736838 878,168 C 987.1961722488039,197.36842105263162 1105.7703349282297,208.10526315789474 1201,202 C 1296.2296650717703,195.89473684210526 1368.1148325358852,172.94736842105263 1440,150 L 1440,600 L 0,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 L 0,150 C 79.75119617224883,171.16746411483254 159.50239234449765,192.33492822966508 256,197 C 352.49760765550235,201.66507177033492 465.7416267942583,189.82775119617224 580,198 C 694.2583732057417,206.17224880382776 809.5311004784689,234.35406698564597 915,212 C 1020.4688995215311,189.64593301435403 1116.133971291866,116.75598086124401 1202,98 C 1287.866028708134,79.24401913875599 1363.933014354067,114.622009569378 1440,150 L 1440,600 L 0,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 L 0,150 C 123.60765550239233,176.9665071770335 247.21531100478467,203.93301435406698 329,188 C 410.78468899521533,172.06698564593302 450.7464114832537,113.23444976076556 535,103 C 619.2535885167463,92.76555023923444 747.7990430622009,131.1291866028708 865,129 C 982.2009569377991,126.8708133971292 1088.0574162679427,84.24880382775119 1182,81 C 1275.9425837320573,77.75119617224881 1357.9712918660287,113.8755980861244 1440,150 L 1440,600 L 0,600 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 L 0,350 C 109.4736842105263,345.48325358851673 218.9473684210526,340.9665071770335 307,357 C 395.0526315789474,373.0334928229665 461.68421052631584,409.6172248803827 545,407 C 628.3157894736842,404.3827751196173 728.3157894736842,362.5645933014354 828,362 C 927.6842105263158,361.4354066985646 1027.0526315789475,402.1244019138756 1129,407 C 1230.9473684210525,411.8755980861244 1335.4736842105262,380.9377990430622 1440,350 L 1440,600 L 0,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 L 0,350 C 101.78947368421055,360.13397129186603 203.5789473684211,370.267942583732 305,375 C 406.4210526315789,379.732057416268 507.47368421052624,379.0622009569378 594,357 C 680.5263157894738,334.9377990430622 752.5263157894735,291.48325358851673 854,279 C 955.4736842105265,266.51674641148327 1086.421052631579,285.00478468899524 1189,302 C 1291.578947368421,318.99521531100476 1365.7894736842104,334.4976076555024 1440,350 L 1440,600 L 0,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 L 0,350 C 108.77511961722487,378.22966507177034 217.55023923444975,406.4593301435407 302,394 C 386.44976076555025,381.5406698564593 446.57416267942585,328.39234449760767 531,312 C 615.4258373205741,295.60765550239233 724.153110047847,315.97129186602865 838,325 C 951.846889952153,334.02870813397135 1070.8133971291866,331.72248803827756 1172,334 C 1273.1866028708134,336.27751196172244 1356.5933014354068,343.1387559808612 1440,350 L 1440,600 L 0,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 L 0,350 C 122.44019138755979,387.9043062200957 244.88038277511959,425.80861244019144 334,405 C 423.1196172248804,384.19138755980856 478.91866028708137,304.6698564593301 573,287 C 667.0813397129186,269.3301435406699 799.4449760765551,313.5119617224881 897,339 C 994.5550239234449,364.4880382775119 1057.3014354066986,371.2822966507177 1142,370 C 1226.6985645933014,368.7177033492823 1333.3492822966507,359.3588516746412 1440,350 L 1440,600 L 0,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 L 0,350 C 109.4736842105263,345.48325358851673 218.9473684210526,340.9665071770335 307,357 C 395.0526315789474,373.0334928229665 461.68421052631584,409.6172248803827 545,407 C 628.3157894736842,404.3827751196173 728.3157894736842,362.5645933014354 828,362 C 927.6842105263158,361.4354066985646 1027.0526315789475,402.1244019138756 1129,407 C 1230.9473684210525,411.8755980861244 1335.4736842105262,380.9377990430622 1440,350 L 1440,600 L 0,600 Z"
    );
  }
}
